<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:macro name="objects">

    <joint name="base_to_chair_joint" type="fixed">
        <origin rpy="0 ${-pi/2} 0" xyz="${-l_lower_trunk/2} 0 ${2*l_upper_trunk+r_lower_trunk}"/>
        <parent link="human_base_link"/>
        <child link="chair"/>
    </joint>

    <link name="chair">
        <visual>
            <origin rpy="1.57 0 0" xyz="0 0 0" />
            <geometry>
                <!-- <mesh filename="chair.obj" /> -->
                <box size="0.717032 1.000000 0.683208" />
            </geometry>
        </visual>
        <collision>
            <geometry>
                <box size="0.717032 1.000000 0.683208" />
            </geometry>
        </collision>
        <inertial>
            <mass value="0.0" />
            <inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0" />
        </inertial>
    </link>

    
    

    </xacro:macro>

</robot>