<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:macro name="objects">

    <joint name="base_to_chair_joint" type="fixed">
        <origin rpy="0 0 ${pi/2}" xyz="${-l_lower_trunk/2} 0 0"/>
        <parent link="world"/>
        <child link="chair"/>
    </joint>

    <link name="chair">
        <visual>
            <origin rpy="1.57 0 0" xyz="0 0 0" />
            <geometry>
                <mesh filename="file://$(arg meshDirectory)chair.stl" />
                <!-- <box size="0.717032 1.000000 0.683208" /> -->
            </geometry>
            <material name="brown"/>
        </visual>
    </link>

    
    

    </xacro:macro>

</robot>