<?xml version="1.0" encoding="UTF-8"?>

<launch>

  <!-- Load user params -->
  <param name="user" type="string" value="gizem" />

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find appirh_project_helse_frde)/config/human_control.yaml" command="load"/>
  <!-- <arg name="human_params" default="$(find appirh_project_helse_frde)/config/human.yaml"/> -->
  <arg name="human_params" default="$(find appirh_project_helse_frde)/dynamic_patient_files/human.yaml"/>

  <!-- Load sensor topics from YAML file to parameter server -->
  <rosparam file="$(find appirh_project_helse_frde)/config/sensors.yaml" command="load"/>
  <node name="imu_subscriber" pkg="appirh_project_helse_frde" type="imu_subscriber_node.py" output="screen"/>

  <!-- Start spine-to-wrist tf. Creates upper-body pose -->
  <node name="spine_to_wrist_tf" pkg="appirh_project_helse_frde" type="spine_to_wrist_tf.py" />

  <group ns = "human">
    <!-- Load human model to parameter server -->
    <param name="human_description" command="$(find xacro)/xacro '$(find appirh_project_helse_frde)/urdf/human/human.urdf.xacro' human_params:=$(arg human_params)"/>

    <!-- Combine joint values -->
    <node name="human_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
      <remap from="robot_description" to="human_description" />
      <remap from="joint_states" to="human_joint_states" />
    </node>

    <!-- Show in Rviz   -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find appirh_project_helse_frde)/config/config.rviz"/> 

    <!-- Publish joint state -->
    <!-- <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui">
      <remap from="joint_states" to="human_joint_states" />
      <remap from="robot_description" to="human_description" />
    </node> -->

  </group>

</launch>

